<header class="profile">
  {{ if .Site.Params.avatarLink }}
  <a href="{{ .Site.Params.avatarLink }}">
    <img class="avatar" alt="avatar" src="{{ "/images/avatar.png" | relURL }}"
    />
  </a>
  {{ else }} <img class="avatar" alt="avatar" src="{{ "/images/avatar.png" |
  relURL }}" /> {{ end }}

  <h1 style="font-weight: 600;font-size:28px;">{{ .Site.Title }}</h1>
  <h2 style="font-size: 12px;">Mau Bikin Website, SEO, dan Desain <br/>berbagai keperluan promosi? Konsultasi di halaman kontak.
  </h2>
</header>
</br></br>